.card {
  position: relative;
  overflow: hidden;
  border-radius: 30px;

  height: 320px;
  background: var(--color-gray1);

  @media (min-width: 551px) {
    height: 257.5px;

    &:first-child {
      height: 550px;

      .box {
        max-width: 380px;

        span {
          font-size: 1rem;
          border-radius: 25px 25px 0 0;
        }

        h3 {
          font-size: clamp(1.125rem, 3.5vw, 1.5rem);
          border-radius: 0 25px 25px 25px;
        }
      }
    }

    .box{
        max-width: 260px;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .box {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: calc(100% - 40px);

    span {
      background: var(--color-white);
      padding: 8px 15px;
      border-radius: 12px 12px 0 0;
    }

    h3 {
      background: var(--color-white);
      padding: 15px;
      border-radius: 0 12px 12px 12px;
    }
  }

  a > button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
