.card{
    transition: 0.4s;

    &:hover{
        transform: translateY(-5px);
    }

    img{
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 25px;
        margin-bottom: 30px;
    }
    
    span{
        display: inline-flex;
        margin-bottom: 15px;
    }

    a{
        display: block;
        width: 100%;
        height: 100%;
    }
}