.card{
    padding-bottom: 30px;

    border-bottom: 1px solid var(--color-black50);

    & > div{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 15px;
    }
}