.menu{
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    li a{
        font-family: var(--font-secondary);
        font-weight: 400;
        font-size: clamp(1.125rem, 3.5vw, 1.5rem);
        color: var(--color-black);

        &:hover{
            text-decoration: underline;
        }
    }
}