.header {
  padding: 25px 0;

  .logo {
    max-width: clamp(120px, 20vw, 180px);
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px 30px;

    @media (max-width: 350px){
        flex-direction: column;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  .button{
    color: var(--color-black);
  }
}
